@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap");

:root {
  --ralewayFont: "Raleway", sans-serif;
  --grey: #888883;
  --pinkRed: #e6455c;
  --blue: #45b4e6;
  --orange: #e66d45;
  --mint: #3ae8c0;
  --darkBrown: #191818;
  --offwhite: #efeee5;
}

body {
  background-color: var(--offwhite);
  max-width: 100vw;
  margin: 0;
}

header {
  width: inherit;
  text-align: right;
  padding-top: 1%;
  background-color: var(--pinkRed);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header h1 {
  padding-right: 50px;
}

header p {
  padding-right: 50px;
  padding-bottom: 10px;
}

h1 {
  font-family: var(--ralewayFont);
  color: var(--mint);
  font-size: 4em;
}

h2 {
  font-family: var(--ralewayFont);
  color: var(--offwhite);
  font-size: 2em;
  margin-bottom: -1%;
}

p {
  font-family: var(--ralewayFont);
  color: var(--darkBrown);
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: var(--darkBrown);
}

a:hover {
  color: var(--pinkRed);
}

.tagline {
  color: var(--offwhite);
  font-size: 1.5em;
}

footer {
  text-align: center;
  padding-top: 10%;
}

footer p {
  padding: 0;
}

.altColor {
  color: var(--offwhite);
}

.portraitImage {
  display: block;
  border-radius: 50%;
  max-width: 100%;
  padding: 2%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 60%;
  padding: 2% 2% 4% 2%;
  text-align: center;
  background-color: var(--pinkRed);
  border-radius: 20px;
}

.flexItem {
  box-sizing: border-box;
  flex-basis: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
}

.textBox {
  display: flex;
  flex-direction: column;
}

#result {
  background-color: var(--offwhite);
  margin: 5%;
  border-radius: 20px;
}

.quoteDiv {
  display: flex;
  justify-content: center;
}
.quoteBtn {
  background-color: var(--pinkRed);
  color: var(--offwhite);
  font-family: var(--ralewayFont);
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  footer {
    font-size: 0.8em;
  }

  .tagline {
    font-size: 1em;
  }

  .flexItem {
    flex-basis: 100%;
  }

  .kanyePortraitSays {
    margin-bottom: -10%;
  }

  .portraitImage {
    max-height: 100%;
    height: 60%;
    width: auto;
  }

  .quoteBtn {
    font-size: 1.5em;
  }
}
